name: HTML tidy

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  tidy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install tidy
        run: |
          sudo apt-get update
          sudo apt-get install -y tidy

      - name: Run tidy
        run: |
          tidy -e -q $(find . -name "*.html" -not -path "./.git/*")
